@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html,
  body {
    font-size: 1rem;
    color: #3c4858;
  }
}
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html,
  body {
    font-size: 1rem;
    color: #3c4858;
  }
  #head {
    display: none !important;
  }
  #container {
    width: 100% !important;
  }
  #container #main {
    margin-top: 0 !important;
  }
  #container #main .content .posts .item .describe .meta .l .warp .desp {
    display: none;
  }
  #container #card-wrap {
    display: none;
  }
  #container .banner {
    flex-direction: column;
  }
}
